<div class="surface-0 flex justify-content-center">
  <div id="home" class="landing-wrapper w-full">
    <app-shared-header></app-shared-header>
    <div class="max-w-7xl mx-auto my-6 px-4">
  <app-leaflet-map></app-leaflet-map>
</div>
        <div id="hero" class="flex flex-column pt-4 px-4 lg:px-8 overflow-hidden" 
            style="background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, #EEEFAF 0%, #C3E3FA 100%); clip-path: ellipse(150% 87% at 93% 13%);">
            <div class="mx-4 md:mx-8 mt-0 md:mt-4">
                <h1 class="text-4xl font-bold text-gray-900 line-height-2">
                    <span class="font-light ">Stay Aware,  Stay Informed </span></h1>
                <p class="font-normal text-2xl line-height-3 md:mt-3 text-gray-700">  Track real-time crime and disaster events in your city. SAS helps you monitor incidents, receive alerts, and contribute to community awareness.
               </p>
                <button pButton pRipple type="button" label="Get Started" class="p-button-rounded text-xl border-none mt-3 bg-blue-500 font-normal line-height-3 px-3 text-white"></button>
            </div>
            <div class="flex justify-content-center md:justify-content-end">
                <img src="assets/demo/images/landing/screen-1.png" alt="Hero Image" class="w-9 md:w-auto">
            </div>
        </div>
        
        <div id="features" class="py-4 px-4 lg:px-8 mt-5 mx-0 lg:mx-8">
            <div class="grid justify-content-center">
                <div class="col-12 text-center mt-8 mb-4">
                    <h2 class="text-900 font-normal mb-2">Marvelous Features</h2>
                    <span class="text-600 text-2xl">     Why SAS stands out as a situational awareness tool</span>
                </div>
    
                                <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 mt-4 lg:mt-0">
                    <div style="height:160px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(145, 210, 204, 0.2), rgba(212, 162, 221, 0.2)), linear-gradient(180deg, rgba(251, 199, 145, 0.2), rgba(160, 210, 250, 0.2));">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center bg-purple-200 mb-3" style="width:3.5rem;height:3.5rem; border-radius:10px;">
                                <i class="pi pi-fw pi-database text-2xl text-purple-700"></i>
                            </div>
                            <h5 class="mb-2 text-900">Historical Insights</h5>
                            <span class="text-600">Explore past events to analyze regional trends.</span>
                        </div>
                    </div>
                </div>

                <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 mt-4 lg:mt-0">
                    <div style="height:160px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(160, 210, 250, 0.2), rgba(145, 226, 237, 0.2)), linear-gradient(180deg, rgba(212, 162, 221, 0.2), rgba(172, 180, 223, 0.2));">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center bg-green-200 mb-3" style="width:3.5rem;height:3.5rem; border-radius:10px;">
                                <i class="pi pi-fw pi-comments text-2xl text-green-700"></i>
                            </div>
                            <h5 class="mb-2 text-900">Event Reviews</h5>
                            <span class="text-600">Review and comment on events to increase clarity.</span>
                        </div>
                    </div>
                </div>

                <div class="col-12 md:col-12 lg:col-4 p-0 lg:pb-5 mt-4 lg:mt-0">
                    <div style="height:160px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(246, 158, 188, 0.2), rgba(145, 210, 204, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2), rgba(172, 180, 223, 0.2));">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center bg-red-200 mb-3" style="width:3.5rem;height:3.5rem; border-radius:10px;">
                                <i class="pi pi-fw pi-bell text-2xl text-red-700"></i>
                            </div>
                            <h5 class="mb-2 text-900">Multi-Level Alerts</h5>
                            <span class="text-600">Receive alerts categorized by severity and location.</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 mt-4 lg:mt-0">
                    <div style="height:160px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(145, 210, 204, 0.2), rgba(212, 162, 221, 0.2)), linear-gradient(180deg, rgba(251, 199, 145, 0.2), rgba(160, 210, 250, 0.2));">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center bg-purple-200 mb-3" style="width:3.5rem;height:3.5rem; border-radius:10px;">
                                <i class="pi pi-fw pi-database text-2xl text-purple-700"></i>
                            </div>
                          <h5 class="mb-2 text-900">Multi-Language</h5>
                            <span class="text-600">Designed with multilingual support.</span>
                          </div>
                    </div>
                </div>

                <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 mt-4 lg:mt-0">
                    <div style="height:160px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(145, 210, 204, 0.2), rgba(212, 162, 221, 0.2)), linear-gradient(180deg, rgba(251, 199, 145, 0.2), rgba(160, 210, 250, 0.2));">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center bg-purple-200 mb-3" style="width:3.5rem;height:3.5rem; border-radius:10px;">
                                <i class="pi pi-fw pi-database text-2xl text-purple-700"></i>
                            </div>
                            <h5 class="mb-2 text-900">Daily Summaries</h5>
                            <span class="text-600">Get concise reports summarizing events.</span>
                    
                        </div>
                    </div>
                </div>

                <div class="col-12 md:col-12 lg:col-4 p-0 lg:pb-5 mt-4 lg:mt-0">
                    <div style="height:160px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(212, 162, 221, 0.2), rgba(172, 180, 223, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2), rgba(187, 199, 205, 0.2));">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center bg-indigo-300 mb-3" style="width:3.5rem;height:3.5rem; border-radius:10px;">
                                <i class="pi pi-fw pi-search text-2xl text-indigo-800"></i>
                            </div>
                            <h5 class="mb-2 text-900">Advanced Filtering</h5>
                            <span class="text-600">Filter events by date, region or category.</span>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
            
        <div class="py-4 px-4 mx-0 mt-8 lg:mx-8">
            <app-shared-footer></app-shared-footer>
        </div>
    </div>
</div>